@font-face {
    font-family: "Playfair";
    src: url(./Voyage-Regular.ttf);
}

*
{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    background-color: #F6F6EE;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 4vw;
    width: 100%;
    /* height: 15vh; */
    background-color: #F6F6EE;
}

#nav h3{
    font-weight: 400;
    text-transform: uppercase;
}

#nav h3 span{
    font-weight: 600;
}

#nav #link{
    display: flex;
    gap: 30px;
}

#link a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    font-family: "Gilroy";
}

#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: #F6F6EE;
}

#heading h1{
    font-size: 40px;
    font-family: "Playfair";
}

#heading p{
    width: 50%;
    text-align: center;
    margin: 20px 0px;
}

#heading button{
    padding: 12px 32px;
    border-radius: 100px;
    background-color: black;
    color: white;
}

#heading button:hover{
    background-color: rgb(107, 106, 106);
    color: #000;
}

#illus{
    width: 100%;
}

#illus img{
    width: 100%;
    height: 100%;
}

#details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    padding: 10vw 5vw;
}

#details #dleft{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    width: 48%;
    border-right: 2px solid black;
}

#details #dleft p{
    width: 40%;
    font-size: 12px;
    text-align: right;
}

#details #dleft #sline{
    width: 5%;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

#details #dright{
    width: 48%;
}

#dright #feat{
    display: flex;
    gap: 20px;
}

#feat i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#feat p{
    margin-top: 10px;
    font-size: 12px;
    width: 50%;
}

#dright #feat1{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#feat1 i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#feat1 p{
    margin-top: 10px;
    font-size: 12px;
    width: 50%;
}


#dright #feat2{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#feat2 i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#feat2 p{
    margin-top: 10px;
    font-size: 12px;
    width: 50%;
}

@media(max-width: 500px){
    #main{
        width: 100%;
        background-color: #F6F6EE;
    }
    #nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4vw 4vw;
        width: 100%;
        background-color: #F6F6EE;
    }
    
    #nav h3{
        font-weight: 300;
        text-transform: uppercase;
    }
    
    #nav h3 span{
        font-weight: 700;
    }
    
    #nav #link{
        gap: 10px;
    }
    
    #link a{
        color: #000;
    }

    #heading{
        height: 35vh;
    }
    
    #heading h1{
        margin-top: 10vw;
        font-size: 25px;
        font-family: "Playfair";
    }
    
    #heading p{
        width: 80%;
        font-size: 3.5vw;
        margin: 5vw 0px;
    }

    #heading button{
        padding: 2vw 6vw;
    }
    
    #illus{
        width: 100%;
    }
    
    #illus img{
        width: 100%;
        height: 100%;
    }

    #details{
        flex-direction: column;
        margin-top: 0px;
        padding: 10vw 2vw;
    }
    
    #details #dleft{
        flex-direction: column;
        align-items: flex-end;
        padding-right: 25px;
        width: 100%;
        border-right: 0px solid black;
    }
    
    #details #dleft p{
        width: 60%;
        font-size: 3.5vw;
        text-align: right;
    }

    #details #dleft h1{
        font-size: 10vw;
        line-height: 1;
    }
    
    #details #dleft #sline{
        width: 10%;
        margin: 5vw 0;
    }
    
    #details #dright{
        margin-top: 5vh;
        width: 100%;
    }
    
    #dright #feat{
        margin-top: 5vw;
    }
    
    #feat i{
        width: 10vw;
        height: 10vw;
    }
    
    #feat p{
        margin-top: 3vw;
        font-size: 3.5vw;
        width: 80%;
    }

    #dright #feat1{
        margin-top: 5vh;
    }
    
    #feat1 i{
        width: 10vw;
        height: 10vw;
    }
    
    #feat1 p{
        margin-top: 3vw;
        font-size: 3.5vw;
        width: 80%;
    }
    
    
    #dright #feat2{
        margin-top: 5vw;
    }
    
    #feat2 i{
        width: 10vw;
        height: 10vw;
    }
    
    #feat2 p{
        margin-top: 3vw;
        font-size: 3.5vw;
        width: 80%;
    }
}